<div flex = 33 id="container">
    <h1>{{ title }}</h1>
    <h1>Usted deberá tener en cuenta y saber</h1>
        <ul>
          <li>El formulario como la documentación adjunta debe estar completo para poder evaluar la solicitud.</li>
          <li>Solicitante y garante deben ser personas hábiles mayores de edad (18 años cumplidos) y hasta  75 años.</li>
          <!-- <li>5) Presentar fotocopia de carnet de CIDI (Ciudadano Digital - Gobierno de la Provincia de Córdoba). Salvo puntuales excepciones.</li>-->
          <li>Solicitante, Garante, su grupo familiar, NO deben tener créditos vigentes ni deudas de créditos otorgados por del Gobierno de la Provincia de Córdoba.</li>
          <li>Tanto el titular como el garante deben tener domicilio dentro de la Provincia de Córdoba.</li>
          <li>Se otorga un crédito por grupo familiar.</li>
          <li>A Solicitante y garante se le es requerido que cuenten con CIDI nivel 2 para ser beneficiario del Crédito. <a href="https://cidi.cba.gov.ar/portal-publico/que-es"> Más info</a></li>
          <li>El solicitante debe debe ser titular de un Cuenta de Caja de Ahorro (será en caso de ser APROBADO su crédito)</li>
        </ul>
    <form [formGroup]="form" >
      <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"></formly-form>
        <div flex = 33>
  
      <mat-card>
  
      <p><strong>Al formulario generado en esta página </strong> le deberá adjuntar archivo: foto, imagen de:</p>
      <h3>Solicitante</h3>
      <ul>
        <li>Imagen/Foto del DNI (frente y dorso) del solicitante, del cónyuge o conviviente.</li>
        <li>Imagen/Foto de impuesto o servicio actualizada, donde conste su domicilio real (Impuesto Inmobiliario Provincial o Municipal, Luz, Agua, Gas, Tel. fijo, TV cable, sin excepción).</li>
      </ul>
      <h3>Garante</h3>
      <ul>  
        <li>Imagen/Foto del DNI  (frente y dorso) del garante y su cónyuge o conviviente</li>
        <li>Imagen/Foto de impuesto o servicio actualizada, donde conste domicilio real (Impuesto Inmobiliario Provincial o Municipal, Luz, Agua, Gas, Tel. fijo, TV cable, sin excepción).</li>
        <li>Imagen/Foto del último recibo de sueldo con antigüedad mayor a 3 meses, donde no figuren ni embargos ni pago de cuota alimentaria, recibo de jubilación o certificado original de ingresos netos expedido por el Consejo Profesional de Ciencias Económicas.</li>
      </ul>
        
      <div flex = 33>
        <p><button type="button" mat-raised-button color="primary" (click)="createPdf()" [disabled]="!form.valid">Generar Formulario de solicitud de crédito en PDF</button></p>
        <p>El documento PDF descargado y la documentación mencionada deberá ingresarla en
        <a href="https://fid.cba.gov.ar/ee-fid-multinota/multinota/#/form/FID/MNOTA_OTRO?reparticion=SEPE01">Mesa de entrada e-tramites </a></p>
      </div>
    </mat-card>
  
      <p>bancodelagente@cba.gov.ar</p> 
  
      </div>
    </form>
    
  <!--  <pre>
      {{model | json}}
    </pre>-->
  </div> 