<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Indice</title>
  </head>
  <body>
    <p></p><a routerLink="linea-1" class="button" type="button">Linea 1</a>
    <p></p><a routerLink="linea-2" class="button" type="button">Linea 2</a>
    <p></p><a routerLink="linea-3" class="button" type="button">Linea 3</a>
    <p></p><a routerLink="linea-4" class="button" type="button">Linea 4</a>
    <p></p><a routerLink="linea-5" class="button" type="button">Linea 5</a>
    <p></p><a routerLink="linea-6" class="button" type="button">Linea 6</a>
    <p></p><a routerLink="linea-7" class="button" type="button">Linea 7</a>
  </body>
</html>