a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    position: relative;
    margin: 5px;
    left: 40%;
    top: 25%;

    text-decoration: none;
    color: grey;
}