<div class="row text-center" style="width: 30%; margin: auto">
  <h3>Resgistro</h3>

  <div class="form-group">
    <input
      type="email"
      class="form-control"
      placeholder="Email Address"
      #userEmail
      required
    />
  </div>
  <p></p>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      #userPwd
      required
    />
  </div>
  <p></p>
  <div class="form-group">
    <input
      type="button"
      class="btn btn-primary"
      value="Registrar"
      (click)="authService.SignUp(userEmail.value, userPwd.value)"
    />
  </div>
  <p></p>
  <span>Ya tienes una Cuenta? </span><a routerLink="/sign-in">Ingresar</a>
</div>
