img {
    width: 100%;
    height: auto;
  }
button.mat-button-base {
    margin-left: 8px;
  }
#container {
    max-width: 700px;
    display: table;
    margin: 0 auto;
    padding: 3rem;  
}
#head {
    max-width: 700px;
    margin: 0 auto;
}
.button-title{
    padding: 5px 50px 5px 50px; 
}
formly-form {
    display: block;
    margin-bottom: 2rem;
}